/* src/styles.css */

/* Estilos base */
body {
    width: 100vw;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow: hidden;
  }
  
  /* Clase contenedor responsivo */
  .container {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #FFD800;
  }
